{% extends "base.html" %}

{% set active_page = "Customer" %}

{% block title %}
Customer
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-right: 5px;padding-left: 5px;">
    <h3 class="text-dark mb-4">Customer</h3>
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">New Customer</p>
        </div>
        <div class="card-body">
            <form action="/customer/add_customer" method="POST">
                {% include 'flash.html' %}
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" for="username"><strong>Name :</strong></label><input name="customer_name" type="text" class="form-control" autocomplete="off" required /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Phone :</strong></label><input name="customer_phone" type="text" class="form-control" pattern="^(\+?01)[0-46-9]-*[0-9]{7,8}$" required /></div>
                    </div>
                </div>
                <div class="text-end mb-3"><button class="btn btn-primary" type="submit">Save</button></div>
            </form>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Customer Info</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in all_customer %}
                        <tr>
                            <td class="text-center"><a href="" data-bs-toggle="modal" data-bs-target="#modal-1" onclick="updateModal(this)" name = "{{customer.id}}"><i class="fa fa-remove"></i></a></td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>5</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div role="dialog" tabindex="-1" class="modal fade" id="modal-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Customer</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/customer/edit_customer" method="POST">
                <div class="modal-body">
                    
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="username"><strong>Customer ID :</strong></label><input id="modal_customer_id" name="modal_customer_id" type="text" class="form-control" readonly/></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="username"><strong>Name :</strong></label><input id="modal_customer_name" name="modal_customer_name" type="text" class="form-control" /></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="first_name"><strong>Phone :</strong></label><input id="modal_customer_phone" name="modal_customer_phone" type="text" class="form-control" /></div>
                            </div>
                        </div>
                    
                </div>            
                <div class="modal-footer"><button class="btn btn-danger" type="submit" name="modal_submit" value='delete'>Delete</button><button class="btn btn-primary" type="submit" name="modal_submit" value="save">Save</button></div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endblock %}
{% block scripts %}
<script>
    function updateModal(caller) {

        var customer_id = caller.name;        
        var row = caller.parentElement.parentElement;
        
        var customer_name = row.children[1].innerText;
        var customer_phone = row.children[2].innerText;

        document.getElementById("modal_customer_id").value = customer_id;
        document.getElementById("modal_customer_name").value = customer_name;
        document.getElementById("modal_customer_phone").value = customer_phone;
    }
    </script>
{% endblock %}